@import url(http://fonts.googleapis.com/earlyaccess/khyay.css);

.intro-text{
    text-align: left;
    margin: 100px;
}
.intro-text h2{
    font-family: 'Khyay', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 46px;
}
.intro-text p{
    font-family: 'Khyay', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1rem;
    line-height: 41px;
    color: #353836
}

.green-team-container{
    margin: 50px 50px 100px ;
    padding: 10px 10px 50px;
    position: relative;
    height: fit-content;
    width: inherit;
    
    background-color: #C2FFD4;
    border-radius: 20px;
    box-shadow: 0px 3px 7px 1px rgb(65, 62, 62) ;

    
}

.team-container-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.team-member{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin: 20px;
    justify-content: space-between;
}
.team-member-left-flex{
    display: flex;
    flex-wrap: wrap;
   
}

.team-member-img{
    margin: 10px;
    width: 8rem;
    height: 10rem;
    border: 2px solid black;
    border-radius: 50px;
}

.member-details{
    margin: 20px;
}

.role{
    font-size: 1rem;
}
.social-details{
    margin: 20px;
}
.social-details img{
    width: 50px;
    margin: 0 10px;
}