.card-text{
    font-weight:bold ;
}

.card-wrapper{
    position: relative;
    width: 18rem;
    height: 25rem;
    margin: 0 auto;
    background-color: transparent !important;
    border: none !important;;
}
.card-img-top{
    position: absolute !important;
    top: 0;
    left: 0;
    width: 15rem;
    height: 20rem;
    z-index: 10;
}

.inner-div{

    position: absolute !important;
    height: 15rem !important;;
    top: 110px;
    left: 60px;
    right: 10px;
    z-index: 8;
    background-color: aliceblue;


    border-radius: 28px 28px 28px 28px;
    -moz-border-radius: 28px 28px 28px 28px;
    -webkit-border-radius: 28px 28px 28px 28px;
    border: 0px solid #000000;

    box-shadow: 0px 0px 10px 4px rgb(62, 61, 61); /*any color you want*/

}

.card-body{
    position: absolute;
    top: 70%;
    z-index: 12 !important;
}