

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}
.slider {
	background: transparent;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: fit-content;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
	padding: 0 0 100px;
}
	
.slider ::before,
.slider ::after {
	background-color: linear-gradient(to right, #F5FFF8 0%,rgba(255,255,255,0) 100%);
	content: "";
	height: fit-content;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.slider ::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.slider::before {
	left: 0;
	top: 0;
}

.slide-track {
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(250px * 14);
}

.slide {
	margin-left: 100px;
	height: fit-content;
	width: 250px;
}
/* .slide:nth-child(3){
	width: 300px;
	background-color: aqua;
} */
