
@import url(http://fonts.googleapis.com/earlyaccess/khyay.css);

.main-page-container{
    /* position: absolute; */
    min-height: fit-content;
    width: fit-content;
}
.main-page-first-text{
    text-align: left;
    /* position: absolute; */
    height: fit-content;
    width: fit-content;
    margin:50px 50px 0;
    /* left: 0;
    top:0; */
}

.main-page-first-heading{
    /* position: absolute; */
    width: 345px;
    height: fit-content;
    /* left: 77px;
    top: 50px; */
    margin:0;

    font-family: 'Khyay', sans-serif;
    /* font-family: 'Cera Pro'; */
    font-style: normal;
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 46px;
}
.main-page-first-para{
    /* position: absolute; */
    width: 608px;
    height: fit-content;
    /* left: 77px;
    top: 100px; */

    font-family: 'Khyay', sans-serif;
    /* font-family: 'Cera Pro'; */
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 41px;
}
.carousel-container{
    height: 5rem;
}