@import url(http://fonts.googleapis.com/earlyaccess/khyay.css);

.plant-detail-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    font-family: 'Khyay', sans-serif;
    /* font-family: 'Cera Pro'; */
    font-style: normal;
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 46px;
}
.plant-detail-box-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.box-1-title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}