.auth-form{
    margin: 50px auto 20px;
    padding: 20px;
    width: 40vw; 
    background-color: #C2FFD4;
    border-radius: 20px;
    box-shadow: 0px 3px 7px 1px rgb(65, 62, 62) ;
}
.auth-form h3{
    padding: 20px !important;
}
.form-label{
    min-width: fit-content;
    width: 30vw;
    text-align: left;
}
.form-control{
    width: 30vw;
    margin:0 auto;
}
.each-form{
    width: fit-content;
    margin: 20px auto;
}